body,
.container-fluid {
    padding: 0;
}

h1 {
    text-shadow: 2px 2px 5px black;
    margin-bottom: 9px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.repos {
    margin-bottom: 0;
}

.repo {
    padding: 10px 13px 10px 16px;
}

.infos {
    width: 90%;
}

.repo-name,
.summary {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.repo-name {
    margin: 0;
    font-weight: bold;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover, a:focus {
    color: #000;
    text-decoration: underline;
}

.actions {
    float: right;
    margin-top: -34px;
}

.failing {
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.passing {
    background: #25cc00; /* Old browsers */
    background: -moz-linear-gradient(top, #25cc00 0%, #25a01e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25cc00), color-stop(100%,#25a01e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #25cc00 0%,#25a01e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #25cc00 0%,#25a01e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #25cc00 0%,#25a01e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #25cc00 0%,#25a01e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25cc00', endColorstr='#25a01e',GradientType=0 ); /* IE6-9 */
}

.unknown {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.icon-github {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: transparent url(../images/github.png) 0 0 no-repeat;
}

.index {
    padding: 0 20px 0 20px;
}

.loading {
    min-height: 300px;
    background: url(../images/loader.gif) no-repeat center center;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

    .icon-github {
        background-size: 24px 24px;
        background-image: url(../images/github@2x.png);
    }
}
