.repos {
    width: 100%;
    margin-bottom: 0;
}

.repo {
    height: 21px;
    padding: 10px 13px 10px 16px;
}

.repo-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    padding-left: 1%;
}

.repo-actions {
    font-size: 24px;
    text-align: right;
    padding-right: 1%;
}

.repo-actions a:hover,
.repo-actions a:focus {
    text-decoration: none;
}
