<a href="https://github.com/you" class="hidden-phone">
    <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub">
</a>

<div class="span8 offset2 index">
    <h1>TravisLight</h1>
    <em>The build monitoring tool that quickly detects failing projects hosted on GitHub and tested using Travis CI.</em>

    <div class="row-fluid">
        <div class="span12">
            <h3>About</h3>
            <p>
                TravisLight is a build monitoring tool that quickly detects failing projects hosted on <a href="http://github.com">GitHub</a> and
                tested using <a href="https://travis-ci.org/">Travis CI</a>.
            </p>

            <h3>Try Now</h3>
            <p>Enter your GitHub username, and start watching your projects:</p>
            <div class="input-append">
                <input class="span4" type="text" name="username" id="username" placeholder="Your username...">
                <button class="btn" type="button" id="watch">Watch</button>
            </div>

            <h3>License</h3>
            <p>TravisLight is released under the MIT License. See the bundled LICENSE file for details.</p>
        </div>
    </div>
</div>
