<% _.each(collection, function (item) { %>
<li class="repo <%- item.status %>">
    <div class="infos">
        <a href="<%-item.travisUrl %>" class="repo-name"><%- item.slug %></a>
        <div class="summary">
            <time datetime="<%- item.lastBuildFinishedAt %>">
                <i class="icon-time"></i> <%- item.humanizedLastBuildFinishedAt %>
            </time>
        </div>
    </div>
    <div class="actions">
        <a href="<%- item.githubUrl %>" class="icon-github" target="_blank"></a>
    </div>
</li>
<% }); %>
