<% _.each(collection, function (item) { %>
<li class="repo is-<%- item.status %>">
    <div class="repo-metadata">
        <a href="<%-item.travisUrl %>" class="repo-name"><%- item.slug %></a>
        <div class="repo-summary">
            <% if ('building' !== item.status) { %>
            <time datetime="<%- item.lastBuildFinishedAt %>">
                <i class="icon-time"></i> <%- item.humanizedLastBuildFinishedAt %>
            </time>
            <% } else { %>
            <i class="icon-refresh"></i> Building...
            <% } %>
        </div>
    </div>
    <div class="repo-actions">
        <a href="<%- item.githubUrl %>" target="_blank">
            <i class="icon-github"></i>
        </a>
    </div>
</li>
<% }); %>
